html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  webkit-tap-highlight-color: #222; }

hr {
  max-width: 50px;
  border-color: #472b56;
  border-width: 3px; }

a {
  color: #472b56;
  transition: all .35s; }
  a:hover {
    color: #6a4d73; }
  a:focus {
    color: #6a4d73; }

h1 {
  font-family: Roboto, sans-serif; }

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5; }

@media (min-width: 768px) {
  header {
    height: 520px; }
    header .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      transform: translateY(-50%); }
      header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px; }
        header .header-content .header-content-inner p {
          margin-right: auto;
          margin-left: auto;
          max-width: 80%;
          font-size: 18px; } }

header {
  position: relative;
  width: 100%;
  height: 934px;
  text-align: center;
  color: #fff;
  background-image: url(../img/space.png);
  background-position: center;
  background-size: cover; }
  header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center; }
    header .header-content .header-content-inner h1 {
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 66px;
    }
    header .header-content .header-content-inner hr {
      margin: 30px auto; }
    header .header-content .header-content-inner p {
      margin-bottom: 50px;
      font-size: 24px;
      font-weight: 300;
      color: #fff; }

.btn-primary {
  border-color: #472b56;
  color: #fff;
  background-color: #472b56;
  transition: all .35s;
  font-size: 18px;
}
  .btn-primary:hover {
    border-color: #6a4d73;
    color: #fff;
    background-color: #6a4d73; }
  .btn-primary:focus {
    border-color: #6a4d73;
    color: #fff;
    background-color: #6a4d73; }
  .btn-primary:active {
    border-color: #6a4d73;
    color: #fff;
    background-color: #6a4d73;
    background-image: none; }

.btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 700; }

.btn-xl {
  padding: 15px 30px; }

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222; }

::selection {
  text-shadow: none;
  color: #fff;
  background: #222; }

img::selection {
  color: #fff;
  background: 0 0; }

img::-moz-selection {
  color: #fff;
  background: 0 0; }

  .twitter{
    padding-top:100px;
    margin-top:100px;
  }
  .twitter p a{
    color: #fff;
  }
