@import url(https://fonts.googleapis.com/css?family=Roboto);


body{
    background-color: #3B0470;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/aura.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}



.header{
    text-align: center;
    margin-top: 300px;
    font-size: 90px;
    font-weight: 600;
    color: #CCCCCC;
}

.teaser{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    font-weight: 400;
    color: #CCCCCC;
}

.date{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 400;
    color: #CCCCCC;
}