
{% extends "base.njk" %}


{% block projects %}
<!-- projects.njk -->
<div class="container-fluid top-space">
{% for project in collections.projects | reverse %}
    <div class="row bottom-space">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <a href="{{ project.url | url }}"><img
            src="{{ project.data.projectIMG }}"
            class="img-responsive"></a>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="portfolio-content">
            <h2>Company: {{ project.data.title }}</h2>
            <h3>Project: {{ project.data.project }}</h3>

            <p>{{ project.data.description }}</p>
              

            <a href="{{ project.url | url }}" class="btn btn-primary" role="button">Project</a>

            {% if project.data.website %}
              <a href="{{ project.data.website }}" class="btn btn-primary" role="button" target="_blank">Site</a>
            {% endif %}

            {% if project.data.projectURL %}
              <a href="{{ project.data.projectURL }}" class="btn btn-primary" role="button" target="_blank">GitHub</a>
            {% endif %}

          </div>
        </div>
    </div>

{% endfor %}
</div>
<!-- end projects.njk -->
{% endblock projects %}
