html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: #333;
  /**
  background: rgb(45, 52, 54);
  background: linear-gradient(0deg, rgba(45, 52, 54, 1) 0%, rgba(9, 132, 227, 1) 100%);
**/
  background: #457fca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.content {
  flex: 1 0 auto;
}

hr {
  max-width: 50px;
  border-color: #196FC1;
  border-width: 3px;
}

hr.light {
  border-color: #fff;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  text-decoration: none;
}

a,
a:hover,
a:focus {
  color: #5691c8;
}

bg-dark h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.bg-primary {
  background-color: #623679;
  padding: 20px 0 0 0;
}

.bg-dark {
  color: #fff;
  background-color: #222;
  padding: 0;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.text-faded-extra p {
  color: rgba(255, 255, 255, 0.7);
}


aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Roboto', sans-serif;
  background-color: #2d3436;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #5691c8;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: #5691c8;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #1d9cf7 !important;
  background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-default {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: #623679;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
  }

  .navbar-default .nav>li>a,
  .navbar-default .nav>li>a:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  .navbar-default .nav>li>a:hover,
  .navbar-default .nav>li>a:focus:hover {
    color: #fff;
  }

  .navbar-default.affix {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: #2d3436;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 18px;
    color: #fff;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #5691c8;
  }

  .navbar-default.affix .nav>li>a,
  .navbar-default.affix .nav>li>a:focus {
    color: #fff;
  }

  .navbar-default.affix .nav>li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
    color: #5691c8;
  }
}

header {
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


/* flexbox header content  */

.header-content {
  display: flex;
  justify-content: center;
  margin-top: 400px;
  padding: 0 0 10% 0;
}

.hero-benefit {
  font-size: 32px;
}

.header-content .btn {
  font-size: 24px;
}

.btn-cta {
  color: #fff;
  background-color: #196FC1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-cta:hover {
  color: #fff;
  background-color: #4795df;
}

.cta {
  margin-top: 30px;
}

.hero {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 50px;
}

.service {
  font-size: 50px;
  font-weight: bold;
}

@media (min-width: 200px) and (max-width: 600px) {
  .hero {
    font-size: 40px;
  }

  .service {
    font-size: 30px;
    font-weight: bold;
  }

  .hero-benefit {
    font-size: 20px;
  }

  .header-content .btn {
    font-size: 20px;
  }

}

.logo {
  margin-bottom: 30px;
}

/* flexbox header content end  */

.section-heading {
  margin-top: 0;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.service-box p {
  margin-bottom: 0;
}

.shop-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}

.shop-box .shop-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(71, 43, 86, 0.9);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.shop-box .shop-box-caption .shop-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.shop-box .shop-box-caption .shop-box-caption-content .project-category,
.shop-box .shop-box-caption .shop-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
}

.shop-box .shop-box-caption .shop-box-caption-content .project-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.shop-box .shop-box-caption .shop-box-caption-content .project-name {
  font-size: 18px;
}

.shop-box:hover .shop-box-caption {
  opacity: 1;
}

@media (min-width: 768px) {
  .shop-box .shop-box-caption .shop-box-caption-content .project-category {
    font-size: 16px;
  }

  .shop-box .shop-box-caption .shop-box-caption-content .project-name {
    font-size: 22px;
  }
}

.shop-item {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #472b56;
}

.no-gutter>[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #fff;
  background-color: #333;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: #472b56;
  color: #fff;
  background-color: #472b56;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  border-color: #6a4d73;
  color: #fff;
  background-color: #6a4d73;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary .badge {
  color: #f05f40;
  background-color: #fff;
}

.btn {
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #fff;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #fff;
}

img::selection {
  color: #fff;
  background: 0 0;
}

img::-moz-selection {
  color: #fff;
  background: 0 0;
}

/* body {
    webkit-tap-highlight-color: #222;
} */

.post-link {
  text-decoration: underline;
}

.attention {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.skill-list {
  list-style-type: none;
}

.skill-link {
  color: #4183d7;
  text-decoration: underline;
}

.contact-area {
  padding: 50px 0 0 0;
}

.bottom-space {
  margin-bottom: 50px;
}

.item {
  color: #b3b3b3;
  padding: 20px 0 20px 0;
  text-align: left;
  width: 60%;
}

.postlist-link {
  color: #fff;
  text-decoration: none;
}

.postlist-link:hover {
  color: #1d9cf7;
  text-decoration: none;
}


.fullpost {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.fullpost div {
  max-width: 800px;
  margin: 0 10px;
}


#post .fullpost-text>p {
  width: 60%;
}

.nextcloud-logo {
  display: block;
  border-radius: 3px;
  height: auto;
  width: 200px !important;
}

#project img[alt=img],
#post img[alt=img] {
  display: block;
  border-radius: 3px;
  margin-top: 20px;
  height: auto;
  max-width: 100%;
}


pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #C4C7CB;
  background-color: #282C34;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.skills-heading {
  margin-bottom: 50px;
}

.container-list {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0 0 0;
}

.container-list .square {
  width: 25%;
  height: 90px;
  margin: 20px;
}


@media (max-width: 600px) {
  .container-list .square {
    width: 50%;
    margin: 20px 0;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .container-list .square {
    width: 25%;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .container-list .square {
    width: 25%;
  }
}

.square>a {
  color: #ffffff;
}


.skill-icon {
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.shop-title {
  margin-top: 70px;
  margin-left: 15px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.shop-content {
  color: #141414;
  padding: 20px 0 20px 0;
  text-align: left;
  width: 65%;
}

.blog-title {
  margin-top: 70px;
  margin-left: 15px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.project-single {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.project-single div {
  max-width: 800px;
  margin: 0 10px;
}


.small-text {
  font-size: 12px;
}

.broken-img {
  border: 1px solid #333333;
}

/**
.michael-headshot{
  float: left;
  margin: 0 10px 10px 0;
  border-radius: 3px;
}
**/

.michael-headshot {
  margin: 0 10px 10px 0;
  border-radius: 3px;
}

@media (min-width: 200px) and (max-width: 420px) {
  .michael-headshot {
    float: none;
  }
}


.hire-content {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.hire-content div {
  max-width: 800px;
  margin: 0 10px;
}

.hire-img {
  border-radius: 4px;
}

.podcast iframe {
  height: 450px;
  width: 800px;
  margin-bottom: 40px;
}

/* Flat Colors */

.f-red {
  color: white;
  background: #c0392b;
}

.f-orange {
  color: white;
  background: #e67e22;
}

.f-green {
  color: white;
  background: #27ae60;
}

.f-blue {
  color: white;
  background: white;
  background: #2980b9;
}

.f-purple {
  color: white;
  background: #8e44ad;
}



.left-space {
  margin: 0 0 0 58px;
}


.footer {
  height: auto;
  margin: 0;
  padding: 20px 0 20px 0;
  flex-shrink: 0;
  color: #fff;
  background-color: #222;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 0;
}

@media (min-width: 200px) and (max-width: 530px) {
  .footer {
    padding: 20px 0 20px 20px;
  }

  .footer-content {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}



.about-bottom {
  padding-bottom: 50px;
}

.border-space {
  margin: 50px;
}

/* FAQs Section */

.faq-title {
  text-align: center;
  margin-top: 100px;
}

.faq {
  font-size: 22px;
  margin: 60px 300px 60px 300px;
}

@media (min-width: 200px) and (max-width: 1111px) {
  .faq {
    font-size: 18px;
    margin: 60px 10px 60px 10px;
  }
}

.faq-list {
  margin-top: 40px;
}

.faq-list li {
  margin-bottom: 20px;
}

.simple-list li {
  margin: 0;
}

.semibold {
  font-weight: 800;
  color: #50A9FF;
}

/* Privacy Policy Section */


.privacy-title {
  text-align: center;
  margin-top: 100px;
}

.privacy {
  margin: 60px 300px 60px 300px;
}

.privacy p {
  font-size: 20px;
}

@media (min-width: 200px) and (max-width: 1111px) {
  .privacy {
    font-size: 18px;
    margin: 60px 10px 60px 10px;
  }

  .privacy p {
    font-size: 18px;
  }
}

.terms-title {
  text-align: center;
  margin-top: 100px;
}

.terms {
  margin: 60px 300px 60px 300px;
}

.terms p {
  font-size: 20px;
}

@media (min-width: 200px) and (max-width: 1111px) {
  .terms {
    margin: 60px 10px 60px 10px;
  }

  .terms p {
    font-size: 18px;
  }
}

/* Process Section */
.process {
  background-color: #fff;
  color: #333;
}

.process h1 {
  margin: 50px 0 50px 0;
  text-align: center;
  font-weight: bold;
}

.process-containter {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.process-steps {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 5rem;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 0 50px 0px;
}

.process-card {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 60px 280px 60px;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
  width: auto;
  height: 400px;
}

.process-card>* {
  text-align: center;
  place-self: center;
}

.process-card img {
  height: auto;
  width: 200px;
}

.process-title {
  font-weight: 700;
}

.process-card p {
  margin: 10px 0 0 0;
  width: 300px;
  font-size: 20px;
  line-height: 1.3;
}

@media (min-width: 200px) and (max-width: 1200px) {
  .process-steps {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 5px 50px 5px;
  }
}




/* Services Section */

.services {
  background-color: #fff;
  color: #333;
}

.services h1 {
  margin: 60px 0 40px 0;
  text-align: center;
  font-weight: bold;
}

.services-lead {
  text-align: center;
  font-size: 30px;
  line-height: 1;
  margin: 0 0 50px 0;
}

.services-containter {
  display: flex;
  justify-content: center;
  width: auto;
}

.services-list {
  max-width: 1230px;
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 50px 0;
}

.services-card {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 200px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
  width: 400px;
  height: 254px;
  background-color: #196FC1;
  border-radius: 5px;
}

.services-card>* {
  place-self: center;
}

.services-card p {
  color: #fff;
  font-weight: 500;
}

@media (min-width: 200px) and (max-width: 991px) {

  .services-lead {
    font-size: 20px;
  }

  .services-list {
    margin: 0 10px 50px 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }

  .services-card {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 200px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ".";
    max-width: 400px;
    width: auto;
    height: 254px;
    background-color: #196FC1;
    border-radius: 5px;
  }
}

/* Pricing Section */

.pricing {
  background-color: #fff;
  color: #333;
}

.pricing h1 {
  margin: 60px 0 20px 0;
  text-align: center;
  font-weight: bold;
}

.pricing h3 {
  margin: 20px 0 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.pricing-lead {
  text-align: center;
  font-size: 30px;
  line-height: 1;
  margin: 0 0 50px 0;
}

.pricing-containter {
  display: flex;
  justify-content: center;
  width: auto;
}

.pricing-list {
  max-width: 1500px;
  display: flex;
  gap: 10rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 60px 0;
}

.pricing-card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 80px 220px 60px 80px 30px;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    "."
    ".";
  width: 300px;
  height: 470px;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #333;
}


.pricing-card>* {
  place-self: center;
}

.pricing-card p {
  color: #333;
  font-size: 32px;
  font-weight: 500;
}

.btn-pricing {
  color: #fff;
  background-color: #196FC1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  width: 194px;
  height: 56px;
  font-size: 24px;
  line-height: 2;
}

.btn-pricing:hover {
  color: #fff;
  background-color: #4795df;
}


@media (min-width: 961px) and (max-width: 1100px) {

  .pricing h3 {
    font-size: 20px;
  }

  .pricing-lead {
    text-align: center;
    font-size: 20px;
  }

  .pricing-list {
    max-width: auto;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 0 60px 0;
  }

  .pricing-card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 80px 220px 60px 80px 30px;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    width: 300px;
    height: 470px;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
  }

}


@media (min-width: 200px) and (max-width: 960px) {
  .pricing h3 {
    font-size: 20px;
  }

  .pricing-lead {
    text-align: center;
    font-size: 20px;
  }

  .pricing-list {
    max-width: auto;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 0 60px 0;
  }

  .pricing-card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 80px 220px 60px 80px 30px;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    width: 300px;
    height: 470px;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
  }
}

/* Contact Section */
.faq-title {
  font-family: roboto, sans-serif;
}

#contact>* {
  font-family: roboto, sans-serif;
}


.btn-contact {
  color: #fff;
  background-color: #196FC1;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  width: 194px;
  height: 56px;
  font-size: 24px;
  line-height: 2;
}

.btn-contact:hover {
  color: #fff;
  background-color: #4795df;
}


.contact-btn-box {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.contact-btn-item {
  align-self: center;
  margin: 0 0 60px 0;
}

@media (min-width: 200px) and (max-width: 800px) {

  .contact-btn-box {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .contact-btn-item {
    align-self: center;
    margin: 0 0 60px 0;
  }

}

.availability {
  color: #fff;
  text-decoration: underline
}


/* Trello */

.trello-title {
  text-align: center;
  margin-top: 100px;
}

.trello {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box {
  max-width: 800px;
  margin: 0 10px 0 10px;
}

.work-title {
  display: flex;
  justify-content: center;
  height: auto;
  margin: 80px 0 30px 0;
}