:root{
  --background-color: #ffffff;
  --default-color: #333333;
  --heading-color: #2a2c39; 
  --accent-color: #5691c8;
  --surface-color: #ffffff; 
  --contrast-color: #ffffff;
  --cerulean: #5691c8;
  --sunkissed: #ef6603;
  --slate: #3c3f4a;
  --transparent: rgba(255, 255, 255, 0);
  --bronze: #CE8946;
  --silver: #bdc3c7;
  --gold: #FFD700;
  --platinum: #E5E4E2;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 64px;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: #fff;
  color: #333333;
}

body * {
  color: #333333;
}


hr {
  max-width: 50px;
  border-color: #472b56;
  border-width: 3px;
}

hr.light {
  border-color: #fff;
}

a {
  color: #1d9cf7;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  h2{
    padding: 0 12px 0 12px;
  }

}

@media (max-width: 600px) {
  h2{
    padding: 0 12px 0 12px;
  }

}

@media (max-width: 520px) {
  h2{
    padding: 0 12px 0 12px;
  }

}

p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.bg-primary {
  background-color: #fff;
}

.bg-dark {
  color: #333333;
  background-color: #fff;
}

.text-faded {
  color: #333;
}

.text-faded-extra p{
  color: #333;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Roboto', sans-serif;
  background-color: #333333;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fff;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #000;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #2d3436 !important;
  background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-default {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: #472b56;
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #000;
  }

  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: #472b56;
  }

  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #000;
  }

  .navbar-default.affix {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: #333333;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #fff;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #1d9cf7;
  }

  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #fff;
  }

  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #1d9cf7;
  }
}

.logo img{
 display: inline;
 margin-right: 10px;
 height: auto;
 width: 30px;
 padding: 0;
 border: none;
}

/*
.navbar{
  text-transform: uppercase;
}
*/

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-color: #333333;
  background-image: url(../img/space.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
}

.section-heading {
  margin-top: 0;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.service-box p {
  margin-bottom: 0;
}

.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 650px;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(66, 66, 66, 0.800);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category,
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

@media (min-width: 768px) {
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-category {
    font-size: 16px;
  }

  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-name {
    font-size: 22px;
  }
}

.project-name{
 color: #fff;
}


/* Flexbox Gallery */

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  border: 1px solid #333333;
}

.page-container {
  padding: 0 0 16px 0;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.page-container h1{
  margin: 95px 0 0 0;
}


@media (max-width: 768px) {
  .page-container h1{
    padding: 0 12px 0 12px;
  }

  .page-container p{
    padding: 0 12px 0 12px;
  }

}

@media (max-width: 600px) {
  .page-container h1{
    padding: 0 12px 0 12px;
  }

  .page-container p{
    padding: 0 12px 0 12px;
  }

}

@media (max-width: 520px) {
  .page-container h1{
    padding: 0 12px 0 12px;
  }

  .page-container p{
    padding: 0 12px 0 12px;
  }

}


.gallery-container{
  padding: 20px;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.gallery-container-jpay{
  padding: 1rem;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

/* Gallery layout */
:root {
  --gallery-gap: 1rem;
  --gallery-gap-jpay: 1rem;
  --gallery-items-per-row: 1;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gallery-gap);
}

.img-gallery-project {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gallery-gap);
}

.img-gallery-jpay {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gallery-gap-jpay);
}

.img-gallery-item {
  flex: 0 0
    calc(
      (100% - (var(--gallery-gap) * (var(--gallery-items-per-row) - 1))) /
        var(--gallery-items-per-row)
    );
}

.img-gallery-item-jpay {
  flex: 0 0
    calc(
      (100% - (var(--gallery-gap) * (var(--gallery-items-per-row) - 1))) /
        var(--gallery-items-per-row)
    );
}

@media only screen and (width >= 1024px) {
  .img-gallery {
    --gallery-items-per-row: 2;
  }

  .img-gallery-project {
    --gallery-items-per-row: 3;
  }

    .img-gallery-jpay {
    --gallery-items-per-row: 6;
  }
}

@media only screen and (768px < width < 1024px) {
  .img-gallery {
    --gallery-items-per-row: 2;
  }

  .img-gallery-project {
    --gallery-items-per-row: 2;
  }

  .img-gallery-jpay {
    --gallery-items-per-row: 4;
  }
}

@media only screen and (540px < width < 768px) {
  .img-gallery {
    --gallery-items-per-row: 1;
  }

  .img-gallery-project {
    --gallery-items-per-row: 1;
  }

  .img-gallery-jpay {
    --gallery-items-per-row: 2;
  }

}

@media only screen and (400px < width < 540px) {
  .img-gallery-jpay {
    --gallery-items-per-row: 2;
  }
}

@media (max-width: 768px) {
  .img-gallery-item{
    padding: 0 12px;
  }
}

@media (max-width: 600px) {
  .img-gallery-item{
    padding: 0 12px;
  }
}

@media (max-width: 520px) {
  .img-gallery-item{
    padding: 0 12px;
  }
}

/* Gallery styles */

figure {
    margin: 0;
  }

/* End Flexbox Gallery */


/* Hover Image */

.hover-img {
  background-color: rgba(51, 51, 51, 0.600);
  color: #fff;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img::before,
.hover-img::after {
  background-color: rgba(51, 51, 51, 0.600);
  border-top: 32px solid rgba(51, 51, 51, 0.600);
  border-bottom: 32px solid rgba(51, 51, 51, 0.600);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;

}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover::before,
.hover-img:hover::after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}

figcaption h3{
  color: #fff;
}




/* End Hover Image */

.portfolio-item {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #472b56;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: #333;
  color: #fff;
  background-color: #333;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: #1d9cf7;
  color: #fff;
  background-color: #1d9cf7;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary .badge {
  color: #f05f40;
  background-color: #fff;
}

.btn {
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img::selection {
  color: #fff;
  background: 0 0;
}

img::-moz-selection {
  color: #fff;
  background: 0 0;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* body {
    webkit-tap-highlight-color: #222;
} */

.post-link {
  text-decoration: underline;
}

.attention {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.skill-list {
  list-style-type: none;
}

.skill-link {
  color: #4183d7;
  text-decoration: underline;
}


/* Over Ride*/

.contact-area {
  padding: 50px 0 0 0;
}

.bottom-space{
  margin-bottom: 50px;
}

.item{
  color: #333333;
  padding: 10px 0 0 0;
  text-align: left;
  width: 100%;
  text-align: left;
}

.item a{
  color:#1d9cf7;
}

.item p{
  font-size: 1.5rem;
  font-weight: 500;
}

.postlist-link{
  color: #333;
  text-decoration: none;
}

.postlist-link:hover{
  color: #1d9cf7;
  text-decoration: none;
}


.fullpost{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.fullpost div{
  max-width: 800px;
  margin: 0 10px;
}


#post .fullpost-text > p{
  width: 60%;
}

.nextcloud-logo{
  display: block;
  border-radius: 3px;
  height: auto;
  width: 200px !important;
}
#project img[alt=img],
#post img[alt=img]{
  display: block;
  border-radius: 3px;
  margin-top: 20px;
  height: auto;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #C4C7CB;
    background-color: #282C34;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }

.skills-heading{
  margin-bottom: 50px;
}

.container-list {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}


.container-list .square {
  width: 25%;
  height: 90px;
  margin: 20px;
}


@media (min-width: 801px) and (max-width: 1024px){
  .container-list .square {
  width: 25%;
  }
}

@media (min-width: 601px) and (max-width: 800px){
  .container-list .square {
    width: 25%;
  }
}

@media (max-width: 600px){
  .container-list .square{
    width: 25%;
  }
}

@media (max-width: 500px){
  .container-list .square{
    width: 25%;
    margin: 20px;
  }
}

.container-list > div a{
  text-decoration: underline;
  color: #000000;
}

.container-list > div a:hover{
  text-decoration: underline;
  color:#1d9cf7;
}

.container-list > div p:hover{
  color:#1d9cf7;
}

.skill-icon{
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.portfolio-title{
  margin-top: 70px;
  margin-left: 15px;
  text-align: center;
}

.portfolio-content{
  color: #141414;
  padding: 20px 0 20px 0;
  text-align: left;
  width: 65%;
}

.blog{
 margin: 100px 0 0 0;
 padding: 0;
}

.blog h2{
  font-size: 40px;
}

.blog-title{
  margin-top: 70px;
  margin-left: 15px;
  text-align: center;
}

.blog-list-page{
  margin-bottom: 50px;
}


.project-single{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.project-single div{
  max-width: 800px;
  margin: 0 10px;
}


.small-text{
  font-size: 12px;
}

.broken-img{
  border: 1px solid #333333;
}



/* Solitary Page */

.solitary-content{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.solitary-content div{
  max-width: 800px;
  margin: 0 10px;
}

.solitary-img{
  border-radius: 4px;
}

.solitary-title{
  color: #222;
}

/* Flat Colors */

.f-red {color: white; background:#c0392b;}
.f-orange {color: white; background:#e67e22;} 
.f-green {color: white; background:#27ae60;}
.f-blue {color: white; background: white; background:#2980b9;}
.f-purple {color: white; background:#8e44ad;}

.strong-header{
  font-weight:700;
}

.bold {
  font-weight:700;
}

/* tabs */
.tab-container {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.tab-container ul{
  margin-bottom: 30px;
}

.tab-container input[type="radio"]{
  display: none;
}

.tab-container .tab-content #corporate{
  margin-left: 20px;
}

.tab-container label{
  font-weight: bold;
  width: 200px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 8px;
  outline: 1px solid #333;
  text-align: center;
}

.tab-container .tab-content{
  display: none;
  order: 1;
}


.tab-container input[type="radio"]:checked + label + .tab-content {
  display: block;
}

.tab-container input[type="radio"]:checked + label{
  background-color:#472b56;
  color: #fff;
}



/* mytabs = tab-container */

.top-space{
  margin: 40px 0 0 0;
}

.bottom-space{
  margin: 0 0 30px 0;
}

.left-space{
  margin: 0 0 0 58px;
}

.box-top{
  margin: 0 0 10px 0;
}

.resume-width{
  margin: 0 auto;
  width: 45%;
}

@media (max-width: 900px){
  .resume-width{
    margin: 0 auto;
    width: 90%;
  }
}

.pdf-space{
  margin-top: 30px;
}

.contact{
  justify-content: center;
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact > div{
  margin: 0 80px 0 0;
  padding: 0;
}

.email-style{
  color: #333;
}

.email-style:hover{
 color: #1d9cf7;
}

.project-center{
  margin:auto;
}

.page-title{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.page-title h1{
  font-size: 70px;
}

.page-title{
  margin: 70px 0 0 0;
}

@media (max-width: 400px){
  .page-title{
    margin: 70px 0 0 0;
  }
}

.deliverables{
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.items{
  width: 350px;
  height: auto;
  margin-right: 20px;
}

@media (min-width: 991px) and (max-width: 1199px){
  .deliverables{
    margin-right: 40px;
    text-align: center;
  }
}

@media (max-width: 900px){
  .deliverables{
  text-align: center;
  }
}

.text-bold{
  font-weight: bold;
}

.clean-top{
  margin-top: 9rem;
}

.michael-headshot{
  height: 200px;
  width: 200px;
  float: none;
  margin: 20px 10px 10px 0px;
  border-radius: 3px;
}

.img-border{
  border: 1px solid #333333;
}

.img-center{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.img-center img{
  max-width: 100%;
  align-self:center;
}


/* footer */
footer{
  margin-top: auto;
  display: flex;
  flex-flow: row;
  height: 80px;
  background-color: #333333;
  color: #ffffff;
  justify-content: space-around;
}

footer p{
  margin: 0;
  padding: 28px 0;
  height: 100%;
  color: #ffffff;
  font-size: 20px;
}

@media (max-width: 630px) {
  footer{
    height: auto;
    margin-top: auto;
    flex-flow: column;
    justify-content:space-around;
  }

  footer p{
    align-self:center;
    margin: 0;
    padding: 10px 0;
    height: 100%;
    color: #ffffff;
    font-size: 15px;
  }

}

/* end footer */

.img-grid{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}

.img-grid img{
  max-width: 458.67px;
  border: 1px solid #333333;
}

@media (max-width: 600px) {
  .img-grid { grid-template-columns: repeat(2, 1fr); }
}

#project div h1 {
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
    font-size: 80px
}


@media (max-width: 768px) {
    .img-top{
    margin-top: 20px;
  }

  #project div h1 {
    font-size: 60px;
  }

}

@media (max-width: 1200px) {
    .large-img-top{
    margin-top: 20px;
  }
}

#contact {
  margin: 50px 20px 50px 20px;
}

.greeting{
  margin: 0 0 60px 0;
}


/* Contact Form */

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid #333;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* end contact form */

.inner{
  width: 100%;
  max-width: 68em;
  margin: 100px auto 0 auto;
  padding: 0 0.8em 1.5em 0.8em;
}

/* Global Section Titles */ 
.section{
  margin: 40px 0 0 0;
}

.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--heading-color);
  font-family: var(--heading-font);
  position: relative;
}


/* Pricing Section */

.pricing .pricing-item {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 1px solid #333333;
}

@media (max-width: 768px) {
  .pricing .pricing-item {
    margin-bottom: 30px;
  }
}



.pricing .pricing-item h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  background: color-mix(in srgb, var(--default-color), transparent 95%);
}

.pricing .pricing-item h4 {
  font-size: 36px;
  font-weight: 600;
  font-family: var(--heading-font);
}

.pricing .pricing-item h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .pricing-item h4 span {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  font-size: 16px;
  font-weight: 300;
}

.pricing .pricing-item ul {
  padding: 15px 0;
  list-style: none;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
}

.pricing .pricing-item ul li {
  padding-bottom: 16px;
}

.pricing .pricing-item ul i {
  color: var(--accent-color);
  font-size: 18px;
  padding-right: 4px;
}

.pricing .pricing-item ul .na {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  text-decoration: line-through;
}

.pricing .btn-wrap {
  background: color-mix(in srgb, var(--default-color), transparent 95%);
  margin: 0 -20px -20px -20px;
  padding: 20px 15px;
  text-align: center;
}

.pricing .btn-buy {
  background: var(--accent-color);
  color: var(--contrast-color);
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--heading-font);
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.pricing .featured h3 {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.pricing .bronze h3 {
  background: var(--bronze);
  color: var(--contrast-color);
}

.pricing .silver h3 {
  background: var(--silver);
  color: var(--slate);
}

.pricing .gold h3 {
  background: var(--gold);
  color: var(--slate);
}

.pricing .platinum h3 {
  background: var(--platinum);
  color: var(--slate);
}

.pricing .advanced {
  background: var(--accent-color);
  color: var(--contrast-color);
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
}


/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/

#faq{
  padding: 0 0 20px 0;
}

.faq .content-subtitle {
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
  color: var(--default-color);
}

.faq .content-title {
  color: var(--heading-color);
  font-size: 20px;
  margin-bottom: 30px;
}

.faq h2{
  font-size: 40px;
}

.faq p {
  line-height: 1.7;
  color: var(--default-color);
}

.faq .custom-accordion .accordion-item {
  background-color: var(--surface-color);
  margin-bottom: 0px;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
}

.faq .custom-accordion .accordion-item .btn-link {
  display: block;
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  text-align: left;
  border: none;
  padding-left: 40px;
  border-radius: 0;
  position: relative;
  background-color: color-mix(in srgb, var(--default-color), transparent 94%);
  text-transform: none;
  font-size: 20px;
  font-weight: 300;
}

.faq .custom-accordion .accordion-item .btn-link:before {
  content: "\f282";
  display: inline-block;
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.faq .custom-accordion .accordion-item .btn-link[aria-expanded=true] {
  color: var(--accent-color);
}

.faq .custom-accordion .accordion-item .btn-link[aria-expanded=true]:before {
  font-family: "bootstrap-icons" !important;
  content: "\f286";
  position: absolute;
  color: var(--accent-color);
  top: 50%;
  transform: translateY(-50%);
}

.faq .custom-accordion .accordion-item .accordion-body {
  padding: 20px 20px 20px 20px;
  color: var(--default-color);
}

.faq .custom-accordion .accordion-body {
  overflow: hidden;
}
/*--------------------------------------------------------------
# services Section
--------------------------------------------------------------*/

.services .services-item {
  background-color: var(--surface-color);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 60px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #333333;
  border-radius: 8px;
}

.services .services-item .icon {
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}

.services .services-item .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

.services .services-item h3 {
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.services .services-item p {
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 0;
}

.hero {
  background-image: url("../../assets/img/section-background.svg");
  background-position: center;
  background-size: cover;
  padding: 0 0 20px 0;
}

.hero div h1,
.hero div p,
.hero div p strong{
  color: #ffffff;
}

#hero h1{
  font-size: 60px;
}

@media (max-width: 768px) {
  #hero h1{
    font-size: 55px;
  }
}

@media (max-width: 600px) {
  #hero h1{
    font-size: 55px;
  }
}

@media (max-width: 520px) {
  #hero h1{
    font-size: 33px;
  }
}

.faq{
  margin: 100px 0 0 0;
}

.alternatives{
  padding: 0;
  margin: 40px 0 0 0;
}

#how-it-works{
  background-image: url("../../assets/img/section-background.svg");

  background-position: center;
  background-size: cover;
  padding: 30px 0 20px 0;
  margin-bottom: 30px; 
}

#how-it-works div h2,
#how-it-works div p,
#how-it-works div p strong{
  color: #ffffff;
}

.call-to-action{
  background-color: #585858;
  padding: 30px 0 20px 0;
  margin: 0 0 30px 0;
}

.call-to-action p{
  color: #ffffff;
  margin: 0;
}

#call-to-action .cta-btn-wrap {
  background: color-mix(in srgb, var(--default-color), transparent 95%);
  margin: 0 -20px -20px -20px;
  padding: 20px 15px;
  text-align: center;
}

#call-to-action .cta-btn-buy {
  background: var(--accent-color);
  color: var(--contrast-color);
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  transition: none;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--heading-font);
  font-weight: 600;
  transition: 0.3s;
}

#call-to-action .cta-btn-buy:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}
