html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Merriweather, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  background: #222;
  color: #fff;
}

body * {
  color: #fff;
}


hr {
  max-width: 50px;
  border-color: #472b56;
  border-width: 3px;
}

hr.light {
  border-color: #fff;
}

a {
  color: #1d9cf7;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}


p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.bg-primary {
  background-color: #472b56;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.text-faded-extra p{
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 50px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  border-color: rgba(34, 34, 34, 0.05);
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: #472b56;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fff;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fff;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #472b56 !important;
  background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar-default {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: #472b56;
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #fff;
  }

  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: #472b56;
  }

  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #fff;
  }

  .navbar-default.affix {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: #472b56;
  }

  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 14px;
    color: #fff;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #1d9cf7;
  }

  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #fff;
  }

  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #1d9cf7;
  }
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-color: #333;
  background-image: url(../img/space.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
}

.section-heading {
  margin-top: 0;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

.service-box p {
  margin-bottom: 0;
}

.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(71, 43, 86, 0.9);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category,
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  padding: 0 15px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

@media (min-width: 768px) {
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-category {
    font-size: 16px;
  }

  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-name {
    font-size: 22px;
  }
}

.portfolio-item {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.text-primary {
  color: #472b56;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: #472b56;
  color: #fff;
  background-color: #472b56;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: #6a4d73;
  color: #fff;
  background-color: #6a4d73;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #f05f40;
  background-color: #f05f40;
}

.btn-primary .badge {
  color: #f05f40;
  background-color: #fff;
}

.btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img::selection {
  color: #fff;
  background: 0 0;
}

img::-moz-selection {
  color: #fff;
  background: 0 0;
}

/* body {
    webkit-tap-highlight-color: #222;
} */

.post-link {
  text-decoration: underline;
}

.attention {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

.skill-list {
  list-style-type: none;
}

.skill-link {
  color: #4183d7;
  text-decoration: underline;
}

/* Mail Chimp Sign Up Form */

#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: center;
  padding: 40px 0 10px 3%;
}

#mc_embed_signup h2 {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.4em;
}

#mc_embed_signup input {
  border: 1px solid #999;
  -webkit-appearance: none;
}

#mc_embed_signup input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

#mc_embed_signup input[type="radio"] {
  -webkit-appearance: radio;
}

#mc_embed_signup input:focus {
  border-color: #333;
}

#mc_embed_signup .button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
  background-color: #777;
}

#mc_embed_signup .small-meta {
  font-size: 11px;
}

#mc_embed_signup .nowrap {
  white-space: nowrap;
}

#mc_embed_signup .clear {
  clear: none;
  display: inline;
}

#mc_embed_signup label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}

#mc_embed_signup input.email {
  font-family: Merriweather, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  display: block;
  padding: 0 0.4em;
  margin: 0 4% 10px 0;
  min-height: 32px;
  width: 58%;
  min-width: 130px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

#mc_embed_signup input.button {
  display: block;
  width: 35%;
  margin: 0 0 10px 0;
  min-width: 90px;
  margin-left: auto;
  margin-right: auto;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em 0.5em 0em 0.5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em 0.5em 0.5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0;
}

/* Over Ride*/

#mc_embed_signup {
  background: #472b56;
  clear: left;
  font: 14px Merriweather, "Helvetica Neue", Arial, sans-serif;
}


.contact-area {
  padding: 50px 0 0 0;
}

.top-space{
  margin-top: 70px;
}

.bottom-space{
  margin-bottom: 50px;
}

.item{
  color: #141414;
  padding: 20px 0 20px 0;
  text-align: left;
  width: 60%;
}

.postlist-link{
  color: #1d9cf7;
  text-decoration: none;
}

.postlist-link:hover{
  color: #fff;
  text-decoration: none;
}


.fullpost{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.fullpost div{
  max-width: 800px;
  margin: 0 10px;
}


#post .fullpost-text > p{
  width: 60%;
}

.nextcloud-logo{
  display: block;
  border-radius: 3px;
  height: auto;
  width: 200px !important;
}
#project img[alt=img],
#post img[alt=img]{
  display: block;
  border-radius: 3px;
  margin-top: 20px;
  height: auto;
  max-width: 100%;
}


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #C4C7CB;
    background-color: #282C34;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }

.skills-heading{
  margin-bottom: 50px;
}

.container-list {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 70%;
}

.container-list .square {
  width: 25%;
  height: 90px;
  margin-bottom: 20px;
}


@media (max-width: 600px){
  .container-list .square{
    width: 50%;
  }
}

@media (min-width: 601px) and (max-width: 800px){
  .container-list .square {
    width: 25%;
  }
}

@media (min-width: 801px) and (max-width: 1024px){
  .container-list .square {
  width: 25%;
  }
}


.skill-icon{
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.portfolio-title{
  margin-top: 70px;
  margin-left: 15px;
}

.portfolio-content{
  color: #141414;
  padding: 20px 0 20px 0;
  text-align: left;
  width: 65%;
}

.blog-title{
  margin-top: 70px;
  margin-left: 15px;
}

.project-single{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.project-single div{
  max-width: 800px;
  margin: 0 10px;
}


.small-text{
  font-size: 12px;
}

.broken-img{
  border: 1px solid #333333;
}

.michael-headshot{
  float: left;
  margin: 0 10px 10px 0;
  border-radius: 3px;
}


.hire-content{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.hire-content div{
  max-width: 800px;
  margin: 0 10px;
}

.hire-img{
  border-radius: 4px;
}

.podcast iframe{
  height: 450px;
  width: 800px; 
  margin-bottom: 40px;
}

/* Flat Colors */

.f-red {color: white; background:#c0392b;}
.f-orange {color: white; background:#e67e22;} 
.f-green {color: white; background:#27ae60;}
.f-blue {color: white; background: white; background:#2980b9;}
.f-purple {color: white; background:#8e44ad;}

.strong-header{
  font-weight:700;
}

/* tabs */
.tab-container {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.tab-container ul{
  margin-bottom: 30px;
}

.tab-container input[type="radio"]{
  display: none;
}

.tab-container .tab-content #corporate{
  margin-left: 20px;
}

.tab-container label{
  font-weight: bold;
  width: 200px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 8px;
  outline: 1px solid #333;
  text-align: center;
}

.tab-container .tab-content{
  display: none;
  order: 1;
}


.tab-container input[type="radio"]:checked + label + .tab-content {
  display: block;
}

.tab-container input[type="radio"]:checked + label{
  background-color:#472b56;
  color: #fff;
}



/* mytabs = tab-container */

